This contains brief demonstration of Python :
 1. operators
 2. variables
 3. constants
 4. naming convention
 5. data types
 


## Operators:
Operators are special symbols that perform specific operations on one or more operands (values) and then return a result.
### Arithmetic operators in Python
    Operators	Operation	         Example
    **	        Exponent	         2 ** 3 = 8
    %	        Modulus/Remainder	 22 % 8 = 6
    //	        Integer division	 22 // 8 = 2
    /	        Division	         22 / 8 = 2.75
    *	        Multiplication	     3 * 3 = 9
    -	        Subtraction	         5 - 2 = 3
    +	        Addition	         2 + 2 = 4

In [1]:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

### Addition operator +

In [2]:
x = 10
y = 40
print(x + y)

50

In [3]:
name = "Veronica"
surname = "Modi"
print(surname + " " + name)

Modi Veronica

### Subtraction -

In [4]:
x = 10
y = 40
print(y - x)

30

### Multiplication *

In [5]:
x = 2
y = 4
z = 5
print(x * y)

print(x * y * z)

8
40

In [6]:
name = "Jesica"
print(name * 3)

JesicaJesicaJesica

### Division

In [7]:
x = 2
y = 4
z = 8
print(y / x)

print(z / y / x)

# print(z / 0) # divide by 0 throws an error

2.0
1.0

### Floor division
Floor division returns the quotient (the result of division) in which the digits after the decimal point are removed. In simple terms, It is used to divide one value by a second value and gives a quotient as a round figure value to the next smallest whole value.

It works the same as a division operator, except it returns a possible integer. The // symbol denotes a floor division operator.

In [8]:
x = 2
y = 4
z = 2.2

# normal division
print(y / x)

# floor division to get result as integer
print(y // x)

# normal division
print(y / z)  

# floor division.
# Result as float because one argument is float
print(y // z)

2.0
2
1.8181818181818181
1.0

### Modulus ℅
- The remainder of the division of left operand by the right. 
- The modulus operator is denoted by a % symbol. 
- In simple terms, the Modulus operator divides one value by a second and gives the remainder as a result.

In [9]:
x = 15
y = 4

print(x % y)

3

### Exponent **
- Using exponent operator left operand raised to the power of right. 
- The exponentiation operator is denoted by a double asterisk ** symbol. 
- We can use it as a shortcut to calculate the exponential value.

For example, 2**3 here 2 is multiplied by itself 3 times, i.e., 2*2*2. Here the 2 is the base, and 3 is an exponent.

In [10]:
num = 2
# 2*2
print(num ** 2) 

print(num ** 3)

4
8

### Comparison operators
Comparison operators are used to compare values. It returns either True or False according to the condition.

       Operator	          Meaning	                                                          Example
        >	              Greater than - True if left operand is greater than the right	      x > y
        <	              Less than - True if left operand is less than the right	          x < y
        ==	              Equal to - True if both operands are equal	                      x == y
        !=	              Not equal to - True if operands are not equal	                      x != y
        >=	              Greater than or equal to - True if left operand is greater than or equal to the right	
                                                                                              x >= y
        <=	              Less than or equal to - True if left operand is less than or equal to the right	
                                                                                              x <= y
                                                                                              
We can compare more than two values also. Assume variable x holds 10, variable y holds 5, and variable z holds 2.

So print(x > y > z) will return True because x is greater than y, and y is greater than z, so it makes x is greater than z.

In [11]:
x = 10
y = 5
z = 2

# > Greater than
print(x > y)  # True
print(x > y > z)  # True

# < Less than
print(x < y)  # False
print(y < x)  # True

# Equal to 
print(x == y)  # False 
print(x == 10)  # True 

# != Not Equal to 
print(x != y)  # True 
print(10 != x)  # False 

# >= Greater than equal to
print(x >= y)  # True
print(10 >= x)  # True

# <= Less than equal to
print(x <= y)  # False
print(10 <= x)  # True

True
True
False
True
False
True
True
False
True
True
False
True

In [12]:
x = 10
y = 12

# Output: x > y is False
print('x > y is',x>y)

# Output: x < y is True
print('x < y is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

#### 1. Logical operators

    Operator	    Meaning	                                             Example
    and	            True if both the operands are true	                 x and y
    or	            True if either of the operands is true               x or y
    not	            True if operand is false (complements the operand)	 not x

In [13]:
print(True and False)  
# both are True
print(True and True) 
print(False and False)  
print(False and True)  

# actual use in code
a = 2
b = 4

# Logical and
if a > 0 and b > 0:
    # both conditions are true
    print(a * b)
else:
    print("Do nothing")

False
True
False
False
8

In the case of arithmetic values, Logical and always returns the second value; as a result, see the following example.

In [14]:
print(10 and 20) 
print(10 and 5)  
print(100 and 300)

20
5
300

#### or (Logical or)
The logical or the operator returns a boolean  True if one expression is true, and it returns False if both values are false.

In [15]:
print(True or False)  
print(True or True)  
print(False or False)   
print(False or True)  

# actual use in code
a = 2
b = 4

# Logical and
if a > 0 or b < 0:
    # at least one expression is true so conditions is true
    print(a + b)  # 6
else:
    print("Do nothing")

True
True
False
True
6

In the case of arithmetic values, Logical or it always returns the first value; as a result, see the following code.

In [16]:
print(10 or 20) 
print(10 or 5) 
print(100 or 300)

10
10
100

#### not (Logical not)
The logical not operator returns boolean True if the expression is false.

In [17]:
print(not False)  
print(not True)  

# actual use in code
a = True

# Logical not
if not a:
    # a is True so expression is False
    print(a) 
else:
    print("Do nothing")

True
False
Do nothing

In the case of arithmetic values, Logical not always return False for nonzero value.

In [18]:
print(not 10) 
print(not 1)  
print(not 5)  
print(not 0)

False
False
False
True

In [19]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

#### 2. Assignment operators
Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5.

    Operator	Example	            Equivalent to
    =	        x = 5	            x = 5
    +=	        x += 5	            x = x + 5
    -=	        x -= 5	            x = x - 5
    *=	        x *= 5	            x = x * 5
    /=	        x /= 5	            x = x / 5
    %=	        x %= 5	            x = x % 5
    //=	        x //= 5	            x = x // 5
    **=	        x **= 5	            x = x ** 5
    &=	        x &= 5	            x = x & 5
    |=	        x |= 5	            x = x | 5
    ^=	        x ^= 5	            x = x ^ 5
    >>=	        x >>= 5	            x = x >> 5
    <<=	        x <<= 5	            x = x << 5

#### 3. Identity operators
Use the Identity operator to check whether the value of two variables is the same or not. This operator is known as a reference-quality operator because the identity operator compares values according to two variables’ memory addresses.

    Operator	Meaning	                                                                    Example
    is	        True if the operands are identical (refer to the same object)	            x is True
    is not	    True if the operands are not identical (do not refer to the same object)	x is not True
    
#### is operator
The is operator returns Boolean True or False. It Return True if the memory address first value is equal to the second value. Otherwise, it returns False.

In [20]:
x = 10
y = 11 
z = 10
print(x is y) # it compare memory address of x and y 
print(x is z) # it compare memory address of x and z

False
True

Here, we can use is() function to check whether both variables are pointing to the same object or not.

#### is not operator
is not the operator returns boolean values either True or False. It Return True if the first value is not equal to the second value. Otherwise, it returns False.

In [21]:
x = 10
y = 11 
z = 10
print(x is not y) # it campare memory address of x and y 
print(x is not z) # it campare memory address of x and z

True
False

In [22]:
a = 4
b = 2

a += b
print(a)  

a = 4
a -= 2
print(a)  

a = 4
a *= 2
print(a)  

a = 4
a /= 2
print(a)  

a = 4
a **= 2
print(a)  

a = 5
a %= 2
print(a)  

a = 4
a //= 2
print(a)

6
2
8
2.0
16
1
2

In [23]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

Here, we see that x1 and y1 are integers of the same values, so they are equal as well as identical. Same is the case with x2 and y2 (strings).

But x3 and y3 are lists. They are equal but not identical. It is because the interpreter locates them separately in memory although they are equal.

#### 4. Membership operators
Python’s membership operators are used to check for membership of objects in sequence, such as string, list, tuple. It checks whether the given value or variable is present in a given sequence. If present, it will return True else False.

In a dictionary we can only test for presence of key, not the value.

    Operator	Meaning	                                             Example
    in	        True if value/variable is found in the sequence	     5 in x
    not in	    True if value/variable is not found in the sequence	 5 not in x
    
In Python, there are two membership operator in and not in

#### In operator
It returns a result as True if it finds a given object in the sequence. Otherwise, it returns False.

Let’s check if the number 15 present in a given list using the in operator.

In [24]:
list = [11, 15, 21, 29, 50, 70]
number = 15
if number in list:
    print("number is present")
else:
    print("number is not present")

number is present

#### Not in operator
It returns True if the object is not present in a given sequence. Otherwise, it returns False

In [25]:
tuple = (11, 15, 21, 29, 50, 70)
number = 35
if number not in tuple:
    print("number is not present")
else:
    print("number is present")

number is not present

In [26]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

True
True
True
False

### Bitwise Operators

In Python, bitwise operators are used to performing bitwise operations on integers. To perform bitwise, we first need to convert integer value to binary (0 and 1) value.

The bitwise operator operates on values bit by bit, so it’s called bitwise. It always returns the result in decimal format. Python has 6 bitwise operators listed below.

    1. & Bitwise and
    2. | Bitwise or
    3. ^ Bitwise xor
    4. ~ Bitwise 1’s complement
    5. << Bitwise left-shift
    6. >> Bitwise right-shift
    
#### Bitwise and &
It performs logical AND operation on the integer value after converting an integer to a binary value and gives the result as a decimal value. It returns True only if both operands are True. Otherwise, it returns False.

In [27]:
a = 7
b = 4
c = 5
print(a & b)
print(a & c)
print(b & c)

4
5
4

- Here, every integer value is converted into a binary value. 
- a =7, its binary value is 0111, 
- b=4, its binary value is 0100. 
- Next we performed logical AND, and got 0100 as a result, similarly for a and c, b and c

#### Bitwise or |
- It performs logical OR operation on the integer value after converting integer value to binary value and gives the result a decimal value. 
- It returns False only if both operands are True. Otherwise, it returns True.

In [28]:
a = 7
b = 4
c = 5
print(a | b)
print(a | c)
print(b | c)

7
7
5

- Here, every integer value is converted into binary. 
- a =7 its binary value is 0111, 
- b=4, its binary value is 0100, 
- after logical OR, we got 0111 as a result. 
- Similarly for a and c, b and c.

#### Bitwise xor ^
It performs Logical XOR ^ operation on the binary value of a integer and gives the result as a decimal value.

In [29]:
a = 7
b = 4
c = 5
print(a ^ c)
print(b ^ c)

2
1

- Here, again every integer value is converted into binary. 
- a =7 its binary value is 0111 
- b=4, and its binary value is 0100, 
- after logical XOR we got 0011 as a result. 
- Similarly for a and c, b and c.

#### Bitwise 1’s complement ~
It performs 1’s complement operation. It invert each bit of binary value and returns the bitwise negation of a value as a result.

In [30]:
a = 7
b = 4
c = 3
print(~a, ~b, ~c)

-8 -5 -4

#### Bitwise left-shift <<
The left-shift << operator performs a shifting bit of value by a given number of the place and fills 0’s to new positions.

In [31]:
print(4 << 2) 

print(5 << 3)

16
40

- here (4 << 2) we have to shift to 2 bits
- the binary value of 4 is =100
- shifting every bit to the left with 2 spaces and |filling blank spaces with 0 i.e. 1 0 0 0 0 (this binary value =16)

#### Bitwise right-shift >>
The left-shift >> operator performs shifting a bit of value to the right by a given number of places. Here some bits are lost.

In [32]:
print(4 >> 2)
 
print(5 >> 2)

1
1

### Precedence

- Precedence and associativity play an essential role in solving the expression in Python. 
- An expression is the combination of variables and operators that evaluate based on operator precedence.
- Operator precedence is used in an expression to determine which operation to perform first.

    Operators	                                           Meaning
    ()	                                                   Parentheses
    **	                                                   Exponent
    +x, -x, ~x	                                           Unary plus, Unary minus, Bitwise NOT
    *, /, //, %	                                           Multiplication, Division, Floor division, Modulus
    +, -	                                               Addition, Subtraction
    <<, >>	                                               Bitwise shift operators
    &	                                                   Bitwise AND
    ^	                                                   Bitwise XOR
    |	                                                   Bitwise OR
    ==, !=, >, >=, <, <=, is, is not, in, not in	       Comparisons, Identity, Membership operators
    not	                                                   Logical NOT
    and	                                                   Logical AND
    or	                                                   Logical OR

In [33]:
print((10 - 4) * 2 + (10+2))

24

In the above example. 1st precedence goes to a parenthesis(), then for plus and minus operators. The expression will be executed as 

    (10 - 4) * 2 +(10+2) 
    6 * 2 + 12 
    12 + 12
    
    
    Precedence level	      Operator	                            Meaning 
    1 (Highest)	              ()	                                Parenthesis
    2	                      **	                                Exponent
    3	                      +x, -x ,~x	                        Unary plus, Unary Minus, Bitwise negation
    4	                      *, /, //, %	                        Multiplication, Division, Floor division, Modulus
    5	                      +, -	                                Addition, Subtraction
    6	                      <<, >>	                            Bitwise shift operator
    7	                      &	                                    Bitwise AND
    8	                      ^	                                    Bitwise XOR
    9	                      |	                                    Bitwise OR
    10	                      ==, !=, >, >=, <, <=	                Comparison
    11	                      is, is not, in, not in	            Identity, Membership
    12	                      not	                                Logical NOT
    13	                      and	                                Logical AND
    14(Lowest)	              or	                                Logical OR

In [34]:
# Precedence of or & and
meal = "fruit_salad"
money = 0

if meal == "fruit_salad" or meal == "sandwich" and money >= 2:
    print("Lunch being delivered")
else:
    print("Can't deliver lunch")

Lunch being delivered

- This program runs if block even when money is 0. 
- It does not give us the desired output since the precedence of and is higher than or.

In [35]:
# Precedence of or & and
meal = "fruit_salad"
money = 0

if (meal == "fruit" or meal == "sandwich") and money >= 2:
    print("Lunch being delivered")
else:
    print("Can't deliver lunch")

Can't deliver lunch

### input() Function

In [36]:
print('What is your name?')   # ask for name
myName = input()
print('It is good to meet you, {}'.format(myName))

What is your name?
sarit
It is good to meet you, sarit

### Indentation

In [37]:
site = 'allianceuni'
 
if site == 'allianceuni':
    print('Logging on to Alliance Uni...')
else:
    print('retype the URL.')
print('All set !')

Logging on to Alliance Uni...
All set !

In [38]:
j = 1
while(j<= 5):
    print(j)
    j = j + 1

1
2
3
4
5

## Variables
A variable is a named location used to store data in the memory. It is helpful to think of variables as a container that holds data that can be changed later in the program. 

We can name a variable anything as long as it obeys the following rules:

- It can be only one word.
- It can use only letters, numbers, and the underscore (_) character.
- It can’t begin with a number.
- Variable name starting with an underscore (_) are considered as "unuseful`.

In [39]:
# below we have created a variable named number. We have assigned the value 10 to the variable.
number = 10

In [40]:
website = "google.com"
print(website)

google.com

### 1. Changing the value of a variable

In [41]:
website = "microsoft.com"
print(website)

# assigning a new value to website
website = "apple.com"

print(website)

microsoft.com
apple.com

#### Assign values to variables

In [42]:
# variable assignment upon condition using Direct Initialisation Method
 
# initialising variable directly
a = 15
 
# printing value of a
print ("The value of a is: " + str(a))

The value of a is: 15

#### Using Conditional Operator

In [43]:
# variable assignment upon condition using Conditional Operator
 
# Initialising variables using Conditional Operator
a = 1 if 20 > 10 else 0
 
# Printing value of a
print("The value of a is: " , str(a))

The value of a is:  1

### 2. Assigning multiple values to multiple variables

In [44]:
a, b, c = 5, 3.2, "Hello"

print (a)
print (b)
print (c)

5
3.2
Hello

In [45]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

## Constants
A constant is a type of variable whose value cannot be changed. It is helpful to think of constants as containers that hold information which cannot be changed later.

### Assigning value to constant 
- Constants are usually declared and assigned in a module. Here, the module is a new file containing variables, functions, etc which is imported to the main file. 
- Inside the module, constants are written in all capital letters and underscores separating the words.

#### Example

In [46]:
create constant.py
PI = 3.14
GRAVITY = 9.8

import constant

print(constant.PI)
print(constant.GRAVITY)

SyntaxError: invalid syntax (2863510805.py, line 1)

In the above program, we create a constant.py module file. Then, we assign the constant value to PI and GRAVITY. After that, we create a main.py file and import the constant module. Finally, we print the constant value.

## Rules and Naming Convention for Variables and constants
- Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_). For example:

   - snake_case
   - MACRO_CASE
   - camelCase
   - CapitalWords

- Create a name that makes sense. For example, vowel makes more sense than v.
- If we want to create a variable name having two words, use underscore to separate them. For example:
    - my_name
    - current_salary
    
- Use capital letters possible to declare a constant. For example:
    - PI
    - G
    - MASS
    - SPEED_OF_LIGHT
    - TEMP
    
- Never use special symbols like !, @, #, $, %, etc.
- Don't start a variable name with a digit.

#### Literals
Literal is a raw data given in a variable or constant. In Python, there are various types of literals they are as follows:

#### Numeric Literals
Numeric Literals are immutable (unchangeable). Numeric literals can belong to 3 different numerical types: Integer, Float, and Complex.

#### Use Numeric literals

In [ ]:
a = 0b1010 # Binary Literals
b = 100    # Decimal Literal 
c = 0o310  # Octal Literal
d = 0x12c  # Hexadecimal Literal

# Float Literal
float_1 = 10.5 
float_2 = 1.5e2

# Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

In the above program,

- We assigned integer literals into different variables. Here, a is binary literal, b is a decimal literal, c is an octal literal and d is a hexadecimal literal.
- When we print the variables, all the literals are converted into decimal values.
- 10.5 and 1.5e2 are floating-point literals. 1.5e2 is expressed with exponential and is equivalent to 1.5 * 102.
- We assigned a complex literal i.e 3.14j in variable x. 
- Then we use imaginary literal (x.imag) and real literal (x.real) to create imaginary and real parts of complex numbers.


#### String literals
A string literal is a sequence of characters surrounded by quotes. We can use both single, double, or triple quotes for a string. And, a character literal is a single character surrounded by single or double quotes.

#### String literals

In [ ]:
strings = "We are at Alliance Uni"
char = "A"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

In the above program, 
- "We are at Alliance Uni" is a string literal and "A" is a character literal.
- The value in triple-quotes """ assigned to the multiline_str is a multi-line string literal.
- The string u"\u00dcnic\u00f6de" is a Unicode literal which supports characters other than English. 
- In this case, \u00dc represents Ü and \u00f6 represents ö.
- r"raw \n string" is a raw string literal.

#### Boolean literals
A Boolean literal can have any of the two values: True or False.

#### use boolean literals

In [ ]:
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

In the above program, we use boolean literal True and False. In Python, True represents the value as 1 and False as 0. The value of x is True because 1 is equal to True. And, the value of y is False because 1 is not equal to False.

Similarly, we can use the True and False in numeric expressions as the value. The value of a is 5 because we add True which has a value of 1 with 4. Similarly, b is 10 because we add the False having value of 0 with 10.

#### Special literals
Python contains one special literal i.e. None. We use it to specify that the field has not been created.

#### special literals

In [ ]:
drink = "Available"
food = None

def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)

menu(drink)
menu(food)

In the above program, we define a menu function. Inside menu, when we set the argument as drink then, it displays Available. And, when the argument is food, it displays None.

In [ ]:
fruits = ["apple", "mango", "orange"]            #list
numbers = (1, 2, 3)                              # tuple
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'} # dictionary
vowels = {'a', 'e', 'i' , 'o', 'u'}              # set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

## Data types in Python
Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

    Data Type	            Examples
    Integers	            -2, -1, 0, 1, 2, 3, 4, 5
    Floating-point numbers	-1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25
    Strings	                'a', 'aa', 'aaa', 'Hello!', '11 cats'

### 1. Python Numbers
Integers, floating point numbers and complex numbers fall under Python numbers category. They are defined as int, float and complex classes in Python.

We can use the type() function to know which class a variable or a value belongs to. Similarly, the isinstance() function is used to check if an object belongs to a particular class.

In [ ]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

- Integers can be of any length, it is only limited by the memory available.
- A floating-point number is accurate up to 15 decimal places. Integer and floating points are separated by decimal points. 1 is an integer, 1.0 is a floating-point number.
- Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part. Here are some examples.

### 2. Tuple
Tuple is an ordered sequence of items same as a list. The only difference is that tuples are immutable. Tuples once created cannot be modified.

Tuples are used to write-protect data and are usually faster than lists as they cannot change dynamically.

It is defined within parentheses () where items are separated by commas.

In [ ]:
t = (5,'program', 1+3j)

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (5, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
t[0] = 10

### 3. Set
Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [ ]:
a = {5,2,3,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

### 4. Dictionary
Dictionary is an unordered collection of key-value pairs.

It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
d = {1:'value','key':2}
print(type(d))

We use key to retrieve the respective value. But not the other way around.

In [ ]:
d = {1:'value','key':2}
print(type(d))

print("d[1] = ", d[1])

print("d['key'] = ", d['key'])

# Generates error
print("d[2] = ", d[2])

### Conversion between data types
We can convert between different data types by using different type conversion functions like int(), float(), str(), etc.

In [ ]:
# conversion from float to int
  
num = 9.3
  
# printing data type of 'num' 
print('type:', 
      type(num).__name__)  
  
# conversion to int
num = int(num)   
  
# printing data type of 'num' 
print('converted value:', num, 
      ', type:', type(num).__name__)

In most cases the int() function rounds off the result to an integer lesser than or equal to the input, but the behavior is neither definite nor predictable. One such example is shown below.

In [ ]:
# example of unpredictable 
# behaviour of int()
  
num1 = 5.9
num2 = 5.99999999999999999999
  
num1 = int(num1)
num2 = int(num2)
  
print(num1, num2, sep = '\n')

### Condiional statements
Python has six conditional statements that are used in decision-making:-
 1. If the statement
 2. If else statement
 3. Nested if statement
 4. If…Elif ladder
 5. Short Hand if statement
 6. Short Hand if-else statement

#### 'if' statement

In [ ]:
# If the condition is true, the statement will be executed.
num = 5
if num > 0:
    print(num, "is a positive number.")
print("This statement is true.")

In [ ]:
a = 25
b = 73
if b > a:
  print("b is greater than a")

#### 'if/else' statement

In [ ]:
# When the condition is true, the statement inside the if block is executed; 
# if the condition is false, the statement outside the if block is executed
num = 5
if num >= 0:
    print("Positive or Zero")
else:
     print("Negative number")

#### 'if/elif/else' statement
In this case, the If condition is evaluated first. If it is false, the Elif statement will be executed; if it also comes false, the Else statement will be executed.

In [ ]:
num = 7
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

### Nested IF Statement

- A Nested IF statement is one in which an If statement is nestled inside another If statement. 
- This is used when a variable must be processed more than once. 
- If, If-else, and If…elif…else statements can be used in the program. 
- In Nested If statements, the indentation (whitespace at the beginning) to determine the scope of each statement should take precedence.

In [ ]:
num = 8
if num >= 0:
    if num == 0:
        print("zero")
    else:
        print("Positive number")
else:
    print("Negative number")

In [ ]:
price = 100
quantity = 10
amount = price * quantity

if amount > 200:
    if amount >1000:
        print("The amount is greater than 1000")
    else:
        if amount >800:
            print("The amount is between 800 and 1000")
        elif amount >600:
            print("The amount is between 600 and 1000")
        else:
            print("The amount is between 400 and 1000")
elif amount == 200:
    print("Amount is 200")
else:
    print("Amount is less than 200")

### Python For Loops
Looping means repeating something over and over until a particular condition is satisfied.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

In [ ]:
# Python program to illustrate while loop
count = 0
while (count < 3):   
    count = count + 1
    print("Hello Alliance")

In [ ]:
count = 0
while (count < 3):   
    count = count + 1
    print("Hello Alliance")
else:
    print("In Else Block")

In [ ]:
# infinite loop
count = 0
while (count == 0): 
    print("Hello Alliance")

In [ ]:
n = 4
for i in range(0, n):
    print(i)