A basic Python curriculum can be broken down into 4 essential topics:

## Data types (int, float, strings)
- Compound data structures (lists, tuples, and dictionaries)
- Conditionals, loops, and functions
- Object-oriented programming and using external libraries

### 1. Data Types and Structures
The very first step is to understand how Python interprets data.

Starting with widely used data types, we should be familiar with integers (int), floats (float), strings (str), and booleans (bool). 

#### Type, typecasting, and I/O functions:
Learning the type of data using the type() method.

In [1]:
type('sarit')

str

#### Storing values into variables and input-output functions (a = 5.67)
Typecasting — converting a particular type of variable/data into another type if possible. For example, converting a string of integers into an integer:

In [2]:
string = "55"
print(type(string))

<class 'str'>

#### But if we try to convert an alphanumeric or alphabet string into an integer, it will throw an error:

In [6]:
string = "5sarit"
print(type(string))

number = int(string)
print(number)

<class 'str'>

ValueError: invalid literal for int() with base 10: '5sarit'

In [7]:
answer = 43 + 56 / 14 - 9 * 2
print(answer)

29.0

In [10]:
# module operator %
remainder = 170%100
print(remainder)

70

In [11]:
# x ^ n
x = 5
n = 4
print(x ** n)

625

#### Strings:
Knowing how to deal with textual data and their operators comes in handy when dealing with the string data type. Practice these concepts:

- Concatenating strings using +
- Splitting and joining the string using the split() and join()method
- Changing the case of the string using lower() and upper() methods

In [13]:
nstr = "abc"
ans = nstr * 10
print(len(ans))

30

In [14]:
name = "Bhumika"
print("%s is a data scientist!" %name)

Bhumika is a data scientist!

In [15]:
name.upper()

'BHUMIKA'

In [16]:
nstr = "it is a lovely day today."
nstr.capitalize()

'It is a lovely day today.'

#### Dictionaries
These are another type of collection in Python. While lists are integer indexed, dictionaries are more like addresses. Dictionaries have key-value pairs, and keys are analogous to indexes in lists.

In [19]:
# dictionary
state_code = {'Bangalore': 80, 'Mumbai': 22, 'Hyderabad': 40}
print(state_code)

{'Bangalore': 80, 'Mumbai': 22, 'Hyderabad': 40}

In [20]:
print(state_code['Hyderabad'])

40

#### if/else

In [21]:
score = 76
percentile = 83

if score > 75 or percentile > 90:
    print("Admission successful!")
else:
    print("Try again next year")

Admission successful!

#### Loops
Often we'll need to do a repetitive task, and loops will be our best friend to eliminate the overhead of code redundancy. We’ll often need to iterate through each element of a list or dictionary, and loops come in handy for that. while and for are two types of loops.

In [22]:
age = [12,43,45,10]
i = 0
while i < len(age):
    if age[i] >= 18:
        print("Adult")
    else:
        print("Juvenile")
    i += 1

Juvenile
Adult
Adult
Juvenile

Iterating through lists and appending (or any other task with list items) elements in a particular order

In [23]:
cubes = []
for i in range(1,10):
    cubes.append(i ** 3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

#### List Comprehension
A sophisticated and succinct way of creating a list using and iterable followed by a for clause.

In [24]:
# list comprehension
cubes = [n** 3 for n in range(1,10)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

#### Functions
While working on a big project, maintaining code becomes a real chore. If our code performs similar tasks many times, a convenient way to manage our code is by using functions.

In [25]:
def add_two_numbers(a, b):
    sum = a + b
    return sum

add_two_numbers(12,10)

22