## Dictionary
- Dictionary is a mutable data type in Python. 
- A python dictionary is a collection of key and value pairs separated by a colon (:), enclosed in curly braces {}.
- Keys must be unique in dictionary, duplicate values are allowed.
- A dictionary is said to be empty if it has no key value pairs. 
- An empty dictionary is denoted like this: {}.
- The keys of dictionary must be of immutable data types such as String, numbers or tuples.

In [1]:
# Left side of the colon(:) is the key and right side of the : is the value.
dict = {'StuName': 'Ajeet', 'StuAge': 19, 'StuCity': 'Kanpur'}

### Accessing dictionary values using keys in Python
- To access a value we can can use the corresponding key in the square brackets as shown in the following example. 
- Dictionary name followed by square brackets and in the brackets we specify the key for which we want the value.

In [2]:
dict = {'StuName': 'Ajeet', 'StuAge': 19, 'StuCity': 'Kanpur'}
print("Student Age is:", dict['StuAge'])
print("Student City is:", dict['StuCity'])

Student Age is: 19
Student City is: Kanpur

- If we specify a key which doesn’t exist in the dictionary then you will get a compilation error. 
- For example. Here we are trying to access the value for key ‘StuClass’ which does not exist in the dictionary mydict, thus we get a compilation error when we run this code.

In [3]:
dict = {'StuName': 'Ajeet', 'StuAge': 19, 'StuCity': 'Kanpur'}
print("Student Age is:", dict['StuClass'])
print("Student City is:", dict['StuCity'])

KeyError: 'StuClass'

### Change values in Dictionary
- Here we are updating the values for the existing key-value pairs. 
- To update a value in dictionary we are using the corresponding key.

In [5]:
dict = {'StuName': 'Ajeet', 'StuAge': 19, 'StuCity': 'Kanpur'}
print("Student Age before update is:", dict['StuAge'])
print("Student City before update is:", dict['StuCity'])

dict['StuAge'] = 31
dict['StuCity'] = 'Noida'

print("Student Age after update is:", dict['StuAge'])
print("Student City after update is:", dict['StuCity'])

Student Age before update is: 19
Student City before update is: Kanpur
Student Age after update is: 31
Student City after update is: Noida

### Adding a new entry (key-value pair) in dictionary
We can also add a new key-value pair in an existing dictionary. Lets take an example to understand this.

In [7]:
dict = {'StuName': 'Steve', 'StuAge': 18, 'StuCity': 'Bangalore'}
dict['StuClass'] = 'Btech'
print("Student Name is:", dict['StuName'])
print("Student Class is:", dict['StuClass'])

Student Name is: Steve
Student Class is: Btech

### Loop through a dictionary
We can loop through a dictionary as shown in the following example. Here we are using for loop.

In [9]:
dict = {'StuName': 'Naresh', 'StuAge': 21, 'StuCity': 'Chennai'}

for e in dict:
    print("Key:",e,"Value:",dict[e])

Key: StuName Value: Naresh
Key: StuAge Value: 21
Key: StuCity Value: Chennai

### delete operation on dictionary
- We can delete key-value pairs as well as entire dictionary in python. 

Lets take an example. As we can see we can use del following by dictionary name and in square brackets we can specify the key to delete the specified key value pair from dictionary.

- To delete all the entries (all key-value pairs) from dictionary we can use the clear() method.
- To delete entire dictionary along with all the data use del keyword followed by dictionary name as shown in the following example.

In [10]:
dict = {'StuName': 'Ramanuj', 'StuAge': 18, 'StuCity': 'Pondicherry'}
del dict['StuCity']; # remove entry with key 'StuCity'
dict.clear();        # remove all key-value pairs from mydict
del dict ;           # delete entire dictionary mydict

## Python Sets
- Set is an unordered and unindexed collection of items in Python. 
- Unordered means when we display the elements of a set, it will come out in a random order.
- Unindexed means, we cannot access the elements of a set using the indexes like we can do in list and tuples.

The elements of a set are defined inside curly brackets and are separated by commas.

In [12]:
set = {1, 2, 3, 4, "hello"}
print(set)

{1, 2, 3, 4, 'hello'}

### Checking whether an item is in the set
- We can check whether an item exists in Set or not using “in” operator as shown in the following example. 
- This returns the boolean value true or false. 
- If the item is in the given set then it returns true, else it returns false.

In [14]:
# Set Example
set = {"hi", 2, "bye", "Hello World"}

# checking whether 2 is in myset
print(2 in set)

# checking whether "hi" is in myset
print("hi" in set)

# checking whether "BeginnersBook" is in myset
print("Fundamentals" in set)

True
True
False

### Loop through the elements of a Set i
- We can loop through the elements of a set in Python as shown in the following elements. 
- We can see in the output that the elements will appear in random order each time you run the code.

In [15]:
# Set Example
set = {"hi", 2, "bye", "Hello World"}

# loop through the elements of myset
for a in set:
    print(a)

bye
hi
2
Hello World

### Add or remove item from a Set
- We can add an item in a Set using add() function and we can remove an item from a set using remove() function as shown in the following example.

In [16]:
# Set Example
set = {"hi", 2, "bye", "Hello World"}
print("Original Set:", set)

# adding an item
set.add(99)
print("Set after adding 99:", set)

# removing an item
set.remove("bye")
print("Set after removing bye:", set)

Original Set: {'bye', 'hi', 2, 'Hello World'}
Set after adding 99: {'hi', 99, 2, 'Hello World', 'bye'}
Set after removing bye: {'hi', 99, 2, 'Hello World'}

## Exercises:

#### Convert two lists into a dictionary
Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

    keys = ['Ten', 'Twenty', 'Thirty']
    values = [10, 20, 30]

Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [1]:
# Solution 1: The zip() function and a dict() constructor

# Use the zip(keys, values) to aggregate two lists.
# Wrap the result of a zip() function into a dict() constructor.

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

convert = dict(zip(keys, values))
print(convert)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [2]:
# Using a loop and update() method of a dictionary

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# empty dictionary
convert = dict()

for i in range(len(keys)):
    convert.update({keys[i]: values[i]})
print(convert)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

#### Merge two Python dictionaries into one
    dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
    dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
    
Expected output: {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [3]:
# solution 1
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [4]:
# solution 2
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#### Print the value of key ‘history’ from the below dict

    sampleDict = {
        "class": {
            "student": {
                "name": "Mike",
                "marks": {
                    "physics": 70,
                    "history": 80
                }
            }
        }
    }

In [5]:
# solution
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

# understand how to located the nested key
# sampleDict['class'] = {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}
# sampleDict['class']['student'] = {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}
# sampleDict['class']['student']['marks'] = {'physics': 70, 'history': 80}

# solution
print(sampleDict['class']['student']['marks']['history'])

80

#### Initialize dictionary with default values
In Python, we can initialize the keys with the same values.

Given:

    employees = ['Kelly', 'Emma']
    defaults = {"designation": 'Developer', "salary": 8000}
    
Expected output: {'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [6]:
# solution
# The fromkeys() method returns a dictionary with the specified keys and the specified value.

employees = ['Rahul', 'Vinita']
defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees, defaults)
print(res)

# Individual data
print(res["Rahul"])

{'Rahul': {'designation': 'Developer', 'salary': 8000}, 'Vinita': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

#### Create a dictionary by extracting the keys from a given dictionary
Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

Given dictionary:

    sample_dict = {
        "name": "Rohit",
        "age": 25,
        "salary": 8000,
        "city": "Bangalore"}

    # Keys to extract
    keys = ["name", "salary"]
    
Expected output: {'name': 'Rohit', 'salary': 8000}

In [7]:
# solution 1

sampleDict = { 
  "name": "Kelly",
  "age":25, 
  "salary": 8000, 
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [8]:
# solution 2
# Using the update() method and loop

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# keys to extract
keys = ["name", "salary"]

# new dict
res = dict()

for k in keys:
    # add current key with its va;ue from sample_dict
    res.update({k: sample_dict[k]})
print(res)

{'name': 'Kelly', 'salary': 8000}

#### Delete a list of keys from a dictionary
Given:

    sample_dict = {
        "name": "Rahul",
        "age": 25,
        "salary": 8000,
        "city": "New york"
    }

    # Keys to remove
    keys = ["name", "salary"]
    
Expected output: {'city': 'New york', 'age': 25}

In [9]:
# Solution 1
# Using the pop() method and loop

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
# Keys to remove
keys = ["name", "salary"]

for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [10]:
# Solution 2 
# Dictionary Comprehension

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
# Keys to remove
keys = ["name", "salary"]

sample_dict = {k: sample_dict[k] for k in sample_dict.keys() - keys}
print(sample_dict)

{'age': 25, 'city': 'New york'}

#### Check if a value exists in a dictionary
We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

Given:

    sample_dict = {'a': 100, 'b': 200, 'c': 300}

Expected output: 200 present in a dict

In [11]:
# solution

sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict

#### Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.

Given:

    sample_dict = {
      "name": "Ram",
      "age":25,
      "salary": 8000,
      "city": "Chennai"
    }
Expected output: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [13]:
# solution
sample_dict = {
    "name": "Ram",
    "age": 25,
    "salary": 8000,
    "city": "Chennai"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Ram', 'age': 25, 'salary': 8000, 'location': 'Chennai'}

#### Get the key of a minimum value from the following dictionary
    
    sample_dict = {
      'Physics': 82,
      'Math': 65,
      'history': 75
    }

Expected output: Math

In [14]:
# solution
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math

#### Change value of a key in a nested dictionary
Write a Python program to change Brad’s salary to 8500 in the following dictionary.

Given:

    sample_dict = {
        'std1': {'name': 'Priya', 'salary': 7500},
        'std2': {'name': 'Raju', 'salary': 8000},
        'std3': {'name': 'Partha', 'salary': 500}
    }

Expected output:

    {
       'std1': {'name': 'Priya', 'salary': 7500},
       'std2': {'name': 'Raju', 'salary': 8000},
       'std3': {'name': 'Partha', 'salary': 8500}
    }

In [17]:
# solution
sample_dict = {
    'emp1': {'name': 'Priya', 'salary': 7500},
    'emp2': {'name': 'Raju', 'salary': 8000},
    'emp3': {'name': 'Partha,'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

SyntaxError: invalid syntax (380846301.py, line 5)

#### Add a list of elements to a set
Given a Python list, Write a program to add all its elements into a given set.

Given:

    sample_set = {"Yellow", "Orange", "Black"}
    sample_list = ["Blue", "Green", "Red"]

Expected output: {'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

In [18]:
# solution
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Green', 'Blue', 'Orange', 'Black', 'Red', 'Yellow'}

#### Return a new set of identical items from two sets

Given:

    set1 = {10, 20, 30, 40, 50}
    set2 = {30, 40, 50, 60, 70}

Expected output: {40, 50, 30}

In [19]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

#### Get Only unique items from two sets
Write a Python program to return a new set with unique items from both sets by removing duplicates.

Given:

    set1 = {10, 20, 30, 40, 50}
    set2 = {30, 40, 50, 60, 70}
    
Expected output: {70, 40, 10, 50, 20, 60, 30}

In [20]:
# solution
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

#### Update the first set with items that don’t exist in the second set
Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.

Given:

    set1 = {10, 20, 30}
    set2 = {20, 40, 50}
    
Expected output: set1 {10, 30}

In [21]:
# solution
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

#### Remove items from the set at once
Write a Python program to remove items 10, 20, 30 from the following set at once.

Given:

    set = {10, 20, 30, 40, 50}

Expected output: {40, 50}

In [22]:
# solution
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

#### Return a set of elements present in Set A or B, but not both
Given:

    set1 = {10, 20, 30, 40, 50}
    set2 = {30, 40, 50, 60, 70}

Expected output: {20, 70, 10, 60}

In [23]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

#### Check if two sets have any elements in common. If yes, display the common elements
Given:

    set1 = {10, 20, 30, 40, 50}
    set2 = {60, 70, 80, 90, 10}

Expected output: Two sets have items in common {10}

In [24]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
    print("Two sets have no items in common")
else:
    print("Two sets have items in common")
    print(set1.intersection(set2))

Two sets have items in common
{10}

#### Update set1 by adding items from set2, except common items
Given:

    set1 = {10, 20, 30, 40, 50}
    set2 = {30, 40, 50, 60, 70}

Expected output: {70, 10, 20, 60}

In [25]:
# solution
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

#### Remove items from set1 that are not common to both set1 and set2
Given:

    set1 = {10, 20, 30, 40, 50}
    set2 = {30, 40, 50, 60, 70}

Expected output: {40, 50, 30}

In [26]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}