In [1]:
print('*' * 60)

In [27]:
print(" O____~")
print("  ||||")

 O____~
  ||||

In [14]:
print("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

In [2]:
name = input("what is your name? ")
print('Hi ' + name)

In [3]:
name = input("what is your name? ")
favourite_colour = input('what is your favourite colour? ')
print(name + ' likes ' + favourite_colour)

In [4]:
from datetime import date

today = date.today()
print("Today's date:", today)

In [5]:
from datetime import datetime
 
now = datetime.now()

current_time = now.strftime("%H:%M:%S") # format the value using the strftime() method to fetch only the time information

print("Current Time is :", current_time)

In [6]:
time = now.strftime("%H:%M %p") 

print("Current Time is :", time)

In [7]:
# importing date class from datetime module
from datetime import date
  
# creating the date object of today's date
todays_date = date.today()
  
# printing todays date
print("Current date: ", todays_date)

# fetching the current year, month and day of today
print("Current year:", todays_date.year)
print("Current month:", todays_date.month)
print("Current day:", todays_date.day)

In [8]:
birth_year = int(input('Birth year: '))
print(type(birth_year))
age = todays_date.year - birth_year
print(age)
print(type(age))

In [9]:
# 1 Pound = 0.453592 Kilograms
# or 1 lb = 0.453592 Kg

pounds = float(input("Enter weight in Pounds to comvert to kilograms: "))
kgs = pounds * 0.453592

print("The weight in kgs is", round(kgs,3))

In [10]:
# signle quote & double quote
name = 'my name is sarit' # signle quote
print(name)
print(name[0]) # index
print(name[-1])# negative index
print(name[0:4])
print(name[0:])
uni = "Alliance university" # double quote
print(uni)

In [11]:
variable = "Bidisha's favourite colour is pink"
print(variable)

In [12]:
variable = 'Bidisha loves "Ice-cream"'
print(variable)

In [13]:
quote = '''I need to create a python function named poundsToMetric which converts weights given 
in pounds to kilograms and grams.
for example rather than print out 2.2 kilograms the correct answer would be 2 kilograms and 200 grams'''
print(quote)

In [14]:
# formatted string
first_name = "Rahul"
last_name = "Singh"

# our target is to write a code to print "Rahul [Singh] is my friend"

message = first_name + ' [' + last_name + '] is my friend'
print(message)

msg = f'{first_name} [{last_name}] is my friend'
print(msg)

In [15]:
section = "fundamentals of python program"
print(len(section))

In [16]:
print(section.upper()) # upper case method
print(section.lower())

In [17]:
print(section.find('u'))

In [18]:
print(section.replace('program', 'programming'))

In [19]:
'python' in section

NameError: name 'section' is not defined

In [ ]:
# round function
x = 3.8
print(round(x))

In [ ]:
# abs function returns always a positive value
print(abs(-3.9))

##### Below code accepts a sequence of words as input and prints the words in a sequence after sorting them alphabetically.

In [3]:
print ("Enter your full name:")
name = input()

ord_name = name.split()
ord_name.sort()

print("Your name arranged in alphabetical order is:", ord_name)

Enter your full name:
James Bond
Your name arranged in alphabetical order is: ['Bond', 'James']

##### Below program accepts a sentence and calculate the number of letters and digits. 
###### If the entered string is: Bond007 Then the output will be: LETTERS: 4 DIGITS:3

In [10]:
print("Enter a word with letters and numbers:")
word = input()

num = 0
char = 0

print("\nThe numbers in the sentence are:")
numbers = [int(i) for i in str(word) if i.isdigit()]
print(numbers)
for i in word:
    if i.isdigit():
        num += 1
print("\nDIGITS:", num)
    

print("\nThe letters in the sentence are:")
letters = [str(i) for i in str(word) if i.isalpha()]
print(str(letters))
for i in word:
    if i.isalpha():
        char += 1
print("\nLETTERS:", char)

Enter a word with letters and numbers:
Bond007

The numbers in the sentence are:
[0, 0, 7]

DIGITS: 3

The letters in the sentence are:
['B', 'o', 'n', 'd']

LETTERS: 4

##### Function & Returns 
1.      abs(x)
- The absolute value of x: the (positive) distance between x and zero.

2.	    ceil(x)
- The ceiling of x: the smallest integer not less than x

3.  	cmp(x, y)
- -1 if x < y, 0 if x == y, or 1 if x > y

4.  	exp(x)
- The exponential of x: ex

5.  	fabs(x)
- The absolute value of x.

6.  	floor(x)
- The floor of x: the largest integer not greater than x

7.  	log(x)
- The natural logarithm of x, for x> 0

8.  	log10(x)
- The base-10 logarithm of x for x> 0.

9.  	max(x1, x2,...)
- The largest of its arguments: the value closest to positive infinity

10. 	min(x1, x2,...)
- The smallest of its arguments: the value closest to negative infinity

11. 	modf(x)
- The fractional and integer parts of x in a two-item tuple. Both parts have the same sign as x. The integer part is returned as a float.

12. 	pow(x, y)
- The value of x**y.

13. 	round(x [,n])
- x rounded to n digits from the decimal point. Python rounds away from zero as a tie-breaker: round(0.5) is 1.0 and round(-0.5) is -1.0.

14. 	sqrt(x)
- The square root of x for x > 0

In [ ]:
import math # import math module
print(math.ceil(4.7))

In [ ]:
print(math.floor(4.6))

https://docs.python.org/3/library/math.html

Python programming language provides following types of decision making statements.
##### if statements
- An if statement consists of a boolean expression followed by one or more statements.

##### if...else statements
- An if statement can be followed by an optional else statement, which executes when the boolean expression is FALSE.

##### nested if statements
- We can use one if or else if statement inside another if or else if statement(s).

In [ ]:
is_hot = True

if is_hot:
    print("It's a hot humid day")
    print('Drink lemonade')
    
else:
    print("It's cold")
    print("wear sweater & jackets")
print('Have a lovely day!')

In [1]:
is_hot = False
is_cold = True

if is_hot:
    print("It's a hot humid day")
    print('Drink lemonade')
    
elif is_cold:
    print("It's cold winter")
    print("wear warm clothes")
else:
    print("It's a lovely day!")
    
print('Have a great day ahead!')

It's cold winter
wear warm clothes
Have a great day ahead!

- Price of an apartment is 1000000.00. 
- If I have a good credit rating, I need to pay 10% downpayment, alternately 30% down payment.
- we will write a program with this rule to display buyer with good credit.

In [ ]:
apartment_price = 1000000
has_good_credit = True

if has_good_credit:
    down_payment = apartment_price * 0.1

else:
    down_payment = apartment_price * 0.3
    
print(f"Down Payment: Rs.{down_payment}")

#### logical AND/OR/NOT operator
- If someone has high income AND good credit rating, he/she is eligible for loan
- If someone has high income OR good credit rating, he/she is eligible for loan
- If someone has high income AND NOT criminal record, he/she is eligible for loan

In [ ]:
has_high_income = True
has_good_credit = True

if has_high_income and has_good_credit:
    print('Eligible for loan')

In [ ]:
has_high_income = True
has_good_credit = True

if has_high_income or has_good_credit:
    print('Eligible for loan')

In [ ]:
has_high_income = True
has_criminal_record = False

if has_high_income and not has_criminal_record:
    print('Eligible for loan')

If day's temperature greater than 30 deg cel, it's a hot day, if less than 15 deg cel, it's a cold day, alternately it's neither cold nor hot.

In [ ]:
temp = 30

if temp > 30: # ==, !=, 
    print("It's a hot day")
else:
    print("It's not a hot day")

If name is less than 3 charecters long
- validation error (name must be at-least 3 characters)

otherwise  if it's more than 50 charecters long
- validation error(name can be a maximum of 50 characters)

otherwsie
- name looks good!

In [ ]:
name = 'Vinay'

if len(name) < 3:
    print('name must be at-least 3 characters')
elif len(name) > 50:
    print('name must be a maximum of 50 characters')
else:
    print('name looks good!')

In [ ]:
weight = int(input("weight: "))
unit = input('(L)bs or (K)g: ')
if unit.upper() == "L":
    converted_weight = weight * 0.45
    print(f"you are {converted_weight} kilos")
else:
    converted_weight = weight / 0.45
    print(f"you are {converted_weight} pounds")

In [3]:
# celsius to farenhit conversion
# C/5 = (F-32)/9

temp = input("Input the  temperature we like to convert? (e.g., 45F, 102C etc.) : ")
degree = int(temp[:-1])
input_temp = temp[-1]

if input_temp.upper() == "C":
    result = int(round((9 * degree) / 5 + 32))
    output_temp = "Fahrenheit"
elif input_temp.upper() == "F":
    result = int(round((degree - 32) * 5 / 9))
    output_temp = "Celsius"
else:
    print("Input proper convention.")
    quit()
print("The temperature in", output_temp, "is", result, "degrees.")

Input the  temperature we like to convert? (e.g., 45F, 102C etc.) : 102c
The temperature in Fahrenheit is 216 degrees.

### reverse word

In [10]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
    print(word[char], end = "")

print("\n")

Input a word to reverse: world
dlrow

##### Python program to find the numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [5]:
num = []
for n in range(1500, 2701):
    if (n % 7 == 0) and (n % 5 == 0):
        num.append(str(n))
print (','.join(num))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In general, statements are executed sequentially: 
- The first statement in a function is executed first, 
- followed by the second, and so on. 
- There may be a situation when we need to execute a block of code several number of times.

Programming languages provide various control structures that allow for more complicated execution paths.

A loop statement allows us to execute a statement or group of statements multiple times. 

##### while loop
- Repeats a statement or group of statements while a given condition is TRUE. 
- It tests the condition before executing the loop body.

##### for loop
- Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.

##### nested loops
- We can use one or more loop inside any another while, for or do..while loop.

In [ ]:
# while loop
index = 1
while index <= 5:
    print(index)
    index = index + 1
print("complete")

In [ ]:
# while loop
index = 1
while index <= 5:
    print("*" * index)
    index = index + 1
print("complete")

In [20]:
# Python program to print First 5 Natural numbers using while loop
num = 1
while(num <= 5):
    print(num)
    num = num + 1

1
2
3
4
5

In [21]:
# Python program to print First 10 Odd numbers using while loop
num = 1
while(num <= 20):
    print(num)
    num = num + 2

1
3
5
7
9
11
13
15
17
19

In [22]:
# Python program to print First 5 Whole numbers using while loop
num = 0
while(num < 5):
    print(num)
    num = num + 1

0
1
2
3
4

In [23]:
# Python program to print first 5 numbers and their cubes using while loop.
num = 1
print("Numbers\t Cube")
while(num <= 5):
    print(num,"\t", num ** 3)
    num = num + 1

Numbers	 Cube
1 	 1
2 	 8
3 	 27
4 	 64
5 	 125

In [24]:
# Python program to print sum of first 10 Natural numbers using while loop.
num = 10
sum = 0

while num >= 1:
    sum = sum + num
    num= num - 1
    
print(sum)

55

### Guess game:

In [ ]:
secret_number = 9
guess_count = 0
guess_limit = 3

while guess_count < guess_limit:
    guess = int(input("Guess: "))
    guess_count += 1
    if guess == secret_number:
        print("You win!")

#### Loop Control Statements
- Loop control statements change execution from its normal sequence. 
- When execution leaves a scope, all automatic objects that were created in that scope are destroyed.

Python supports the following control statements. 

##### break statement
- Terminates the loop statement and transfers execution to the statement immediately following the loop.

##### continue statement
- Causes the loop to skip the remainder of its body and immediately retest its condition prior to reiterating.

##### pass statement
- The pass statement in Python is used when a statement is required syntactically but we do not want any command or code to execute.

In [ ]:
secret_number = 9
guess_count = 0
guess_limit = 3

while guess_count < guess_limit:
    guess = int(input("Guess: "))
    guess_count += 1
    if guess == secret_number:
        print("You win!")
        break

In [ ]:
secret_number = 9
guess_count = 0
guess_limit = 3

while guess_count < guess_limit:
    guess = int(input("Guess: "))
    guess_count += 1
    if guess == secret_number:
        print("Congratualtions, You won!")
        break
else:
    print("Sorry, you have exceeded your limit")

In [ ]:
command = ""

while command.lower() != 'quit':
    command = input("> ")
    if command.lower() == 'start':
        print('engine started...')
    elif command.lower() == 'stop':
        print('engine stopped....')
    elif command.lower() == 'help':
        print(""" 
        start - start the engine
        stop - stop the engine
        quit - quit the game
        """)
    else:
        print("sorry, we don't understand that")

In [ ]:
command = ""

while command.lower() != 'quit':
    command = input("> ")
    if command.lower() == 'start':
        print('engine started...')
    elif command.lower() == 'stop':
        print('engine stopped....')
    elif command.lower() == 'help':
        print(""" 
        start - start the engine
        stop - stop the engine
        quit - quit the game
        """)
    elif command == 'quit':
        break
    else:
        print("sorry, we don't understand that")

In [ ]:
# simplified
command = ""

while True:
    command = input("> ").lower()
    if command == 'start':
        print('engine started...')
    elif command == 'stop':
        print('engine stopped.')
    elif command == 'help':
        print(""" 
        start - start the engine
        stop - stop the engine
        quit - quit the game
        """)
    elif command == 'quit':
        break
    else:
        print("sorry, we don't understand that")

In [3]:
# simplified
command = ""
started = False

while True:
    command = input("> ").lower()
    if command == 'start':
        if started:
            print("Engine already started!")
        else:
            started= True
            print('engine started...')
    elif command == 'stop':
        if not started:
            print("engine already stopped")
        else:
            started = False
            print('engine stopped.')
    elif command == 'help':
        print(""" 
start - start the engine
stop - stop the engine
quit - quit the game
        """)
    elif command == 'quit':
        break
    else:
        print("sorry, we don't understand that")

> stop
engine already stopped
> start
engine started...
> start
Engine already started!
> quit

In [26]:
# function to return True if the first and last number of a given list is same. 
# If numbers are different then return False

def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

x = [10, 20, 30, 40, 10]
print("result is", first_last_same(x))

y = [75, 65, 35, 75, 30]
print("result is", first_last_same(y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [4]:
# for loop
for letter in "Python":
    print(letter)

P
y
t
h
o
n

In [5]:
# for loop
for name in ['Vishal', 'Renuka', 'Mily']: # list
    print(name)

Vishal
Renuka
Mily

In [6]:
for number in [1,2,3,4,5]: # list
    print(number)

1
2
3
4
5

In [7]:
for number in range(10): # range function
    print(number)

0
1
2
3
4
5
6
7
8
9

In [8]:
for number in range(5, 10): # range function
    print(number)

5
6
7
8
9

In [9]:
for number in range(5, 10, 2): # range function with steps ( increment by 2 steps)
    print(number)

5
7
9

In [11]:
prices = [15, 25, 35]
total = 0

for price in prices:
    total += price # total = total + price
    
print(f"Total: {total}") # total cost of all items

Total: 75

In [14]:
# Print all the numbers from 0 to 6 except 3 and 6
for x in range(6):
    if (x == 3 or x == 6):
        continue
    print(x, end = ' ')

print("\n")

0 1 2 4 5

In [13]:
numbers = (10, 11, 12, 13, 14, 15, 16, 17, 18, 19) # Declaring the tuple

count_odd = 0
count_even = 0

for x in numbers:
        if not x % 2:
             count_even += 1
        else:
             count_odd += 1

print("Number of even numbers :", count_even)
print("Number of odd numbers :", count_odd)

Number of even numbers : 5
Number of odd numbers : 5

In [25]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", previous_num + i)
    # modify previous number
    # set it to the current number
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

##### Nested loop

In [17]:
for x in range(4):
    for y in range(3):
        print(f'({x}, {y})') # coordinates

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

numbers = [5, 2, 5, 2, 2]

XXXXX
XX
XXXXX
XX
XX

In [20]:
# generate an inner loop to contan all x's as shown above
numbers = [5, 2, 5, 2, 2]
# for x_count in numbers:
#     print('x' * x_count)

for x_count in numbers:
    output = ""
    for count in range(x_count):
        output += 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

##### Python program to construct the following pattern, using a nested for loop.

    o 
    o o 
    o o o 
    o o o o 
    o o o o o 
    o o o o 
    o o o 
    o o 
    o

In [8]:
n = 5;
for i in range(n):
    for j in range(i):
        print ('o ', end = "")
    print('')

for i in range(n, 0, -1):
    for j in range(i):
        print('o ', end = "")
    print('')

o
o o
o o o
o o o o
o o o o o
o o o o
o o o
o o
o

In [15]:
# Calculate the sum of all numbers from 1 to a given number

# s: store sum of all numbers
store = 0
num = int(input("Enter number "))

# run loop n times
# stop: n+1 (because range never include stop number in result)

for i in range(1, num + 1, 1):
    
    # add current number to sum variable
    store += i

print("\n")
print("Sum is: ", store)

Enter number 5


Sum is:  15

In [16]:
num = int(input("Enter number "))
# pass range of numbers to sum() function
x = sum(range(1, num + 1))
print('Sum is:', x)

Enter number 5
Sum is: 15

#### Print the following pattern

    5 4 3 2 1 
    4 3 2 1 
    3 2 1 
    2 1 
    1

In [17]:
n = 5
k = 5
for i in range(0, n+1):
    for j in range(k-i, 0, -1):
        print(j, end = ' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

##### Use else block to display a message "Done" after successful execution of for loop

In [18]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

### Calculate income tax for the given income by adhering to the below rules
    
    Taxable Income	Rate (in %)
    - First $ 10,000	0
   - Next  $ 10,000	10
    - The remaining	20

Expected Output:

For example, suppose the taxable income is 50000 the income tax payable is

10000 * 0% + 10000 * 10%  + 30000 * 20% = $ 7000.

In [29]:
income = 50000
tax_payable = 0
print("Total income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Total income 50000
Total tax to pay is 7000.0

##### Below program find factors of given number and find whether the factor is even or odd

In [1]:
number = 2352

for i in range(1, number):
    if number % i == 0:
        if i % 2 == 0:
            print("The factor", str(i), "is even")
        else:
            print("The factor", str(i), "is odd")
    else:
        continue

The factor 1 is odd
The factor 2 is even
The factor 3 is odd
The factor 4 is even
The factor 6 is even
The factor 7 is odd
The factor 8 is even
The factor 12 is even
The factor 14 is even
The factor 16 is even
The factor 21 is odd
The factor 24 is even
The factor 28 is even
The factor 42 is even
The factor 48 is even
The factor 49 is odd
The factor 56 is even
The factor 84 is even
The factor 98 is even
The factor 112 is even
The factor 147 is odd
The factor 168 is even
The factor 196 is even
The factor 294 is even
The factor 336 is even
The factor 392 is even
The factor 588 is even
The factor 784 is even
The factor 1176 is even

##### below program will find all the numbers between 500 and 2500 (both included) such that each digit of a number is an even number. The numbers obtained will be printed in a tab separated sequence on a single line.

In [8]:
for num in range(500, 2500):
    if all (int(n) % 2 == 0 for n in str(num)):
        print((num), "/", end=" ")
    else:
        continue

600 / 602 / 604 / 606 / 608 / 620 / 622 / 624 / 626 / 628 / 640 / 642 / 644 / 646 / 648 / 660 / 662 / 664 / 666 / 668 / 680 / 682 / 684 / 686 / 688 / 800 / 802 / 804 / 806 / 808 / 820 / 822 / 824 / 826 / 828 / 840 / 842 / 844 / 846 / 848 / 860 / 862 / 864 / 866 / 868 / 880 / 882 / 884 / 886 / 888 / 2000 / 2002 / 2004 / 2006 / 2008 / 2020 / 2022 / 2024 / 2026 / 2028 / 2040 / 2042 / 2044 / 2046 / 2048 / 2060 / 2062 / 2064 / 2066 / 2068 / 2080 / 2082 / 2084 / 2086 / 2088 / 2200 / 2202 / 2204 / 2206 / 2208 / 2220 / 2222 / 2224 / 2226 / 2228 / 2240 / 2242 / 2244 / 2246 / 2248 / 2260 / 2262 / 2264 / 2266 / 2268 / 2280 / 2282 / 2284 / 2286 / 2288 / 2400 / 2402 / 2404 / 2406 / 2408 / 2420 / 2422 / 2424 / 2426 / 2428 / 2440 / 2442 / 2444 / 2446 / 2448 / 2460 / 2462 / 2464 / 2466 / 2468 / 2480 / 2482 / 2484 / 2486 / 2488 /

In [12]:
# code to find the given number is Palindrome number or not
number = input("Enter a number:")

newList = list(number)
print("The original list is:", newList)
newList.reverse()
print("The reversed list is:", newList)

if list(number) == newList:
    print("The number is a Palindrome.")
else:
    print("The number is not a Palindrome.")

Enter a number:234
The original list is: ['2', '3', '4']
The reversed list is: ['4', '3', '2']
The number is not a Palindrome.