## Python Strings

- A string is usually a sequence of characters. 
- In Python we use " "(double quotes) or ' ' (single quotes) to represent a string. 
- Triple double quotes """ and triple single quotes ''' are used for creating multi-line strings in Python

In [1]:
# lets see the ways to create strings in Python
str = 'MyName'
print(str)

str2 = "sarit_maitra"
print(str2)

# multi-line string
str3 = """we are practicing 
   Python fundamentals"""
print(str3)

str4 = '''This is a practical 
   class'''
print(str4)

MyName
sarit_maitra
we are practicing
   Python fundamentals
This is a practical
   class

### How to access strings in Python
- A string is an array of characters so we can use the indexes to access the characters of a it. 
- the indexes start from 0 to the length-1.
- We will get IndexError if we try to access the character which is not in the range. 

For example, if a string is of length 6 and we try to access the 8th char, we will get error.

In [2]:
str = "Bidisha"

# displaying whole string
print(str)

# displaying first character of string
print(str[0])

# displaying third character of string
print(str[2])

# displaying the last character of the string
print(str[-1])

# displaying the second last char of string
print(str[-2])

Bidisha
B
d
a
h

### Substring in Python – Slicing operation

In [8]:
str = "Fundamentals"

# displaying whole string
print("The original string is: ", str)

# slicing 10th to the last character
print("str[9:]: ", str[9:])

# slicing 3rd to 6th character
print("str[2:6]: ", str[2:6])

# slicing from start to the 9th character
print("str[:9]: ", str[:9])

# slicing from 10th to second last character
print("str[9:-1]: ", str[9:-1])

The original string is:  Fundamentals
str[9:]:  als
str[2:6]:  ndam
str[:9]:  Fundament
str[9:-1]:  al

### Concatenation of strings in Python
The + operator is used for string concatenation in Python.

In [9]:
str1 = "One"
str2 = "Two"
str3 = "Three"

# Concatenation of three strings
print(str1 + str2 + str3)

OneTwoThree

- When + operator is used on numbers it adds them but when it used on strings it concatenates them. 
- However if we try to use this between string and number then it will throw TypeError.

In [10]:
s = "one"
n = 2
print(s+n)

TypeError: can only concatenate str (not "int") to str

### Repetition of string – Replication operator

In [11]:
# * operator to repeat a string by specified number of times.

str = "xyz"

# repeating the string str by 3 times
print(str*3)

xyzxyzxyz

### Membership Operators in Strings
- in: This checks whether a string is present in another string or not. 
   - It returns true if the entire string is found else it returns false.
- not in: It works just opposite to what “in” operator does. 
   - It returns true if the string is not found in the specified string else it returns false.

In [13]:
str = "Alliance University python fundamentals"
str2 = "Welcome"
str3 = "Jeniffer"
str4 = "XYZ"

# str2 is in str? True
print(str2 in str)

# str3 is in str? False
print(str3 in str)

# str4 not in str? True
print(str4 not in str)

False
False
True

### Relational Operators on Strings

The relational operators works on strings based on the ASCII values of characters.
- The ASCII value of a is 97, b is 98 and so on.
- The ASCII value of A is 65, B is 66 and so on.

In [14]:
str = "ABC"
str2 = "aBC"
str3 = "XYZ"
str4 = "XYz"

# ASCII value of str2 is > str? True
print(str2 > str)

# ASCII value of str3 is > str4? False
print(str3 > str4)

True
False

## Python Tuple

tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned. On the other hand, we can change the elements of a list.
### Tuple vs List
- The elements of a list are mutable whereas the elements of a tuple are immutable.
- When we do not want to change the data over time, the tuple is a preferred data type whereas when we need to change the data in future, list would be a wise option.
- Iterating over the elements of a tuple is faster compared to iterating over a list.
- Elements of a tuple are enclosed in parenthesis whereas the elements of list are enclosed in square bracket.

### create a tuple in Python
- To create a tuple in Python, place all the elements in a () parenthesis, separated by commas. 
- A tuple can have heterogeneous data items, a tuple can have string and list as data items as well.

In [15]:
# tuple of strings
data = ("hi", "hello", "bye")
print(data)

# tuple of int, float, string
data2 = (1, 2.8, "Hello World")
print(data2)

# tuple of string and list
data3 = ("Book", [1, 2, 3])
print(data3)

# tuples inside another tuple nested tuple
data4 = ((2, 3, 4), (1, 2, "hi"))
print(data4)

('hi', 'hello', 'bye')
(1, 2.8, 'Hello World')
('Book', [1, 2, 3])
((2, 3, 4), (1, 2, 'hi'))

In [16]:
# empty tuple
data = ()

In [18]:
# tuple with single data item

"""If we do not put comma after 99 in the above example then 
python will treat my_data as an int variable rather than a tuple."""

data = (99,)

### Access tuple

In [19]:
# tuple of strings
data = ("hi", "hello", "bye")

# displaying all elements
print(data)

# accessing first element prints "hi"
print(data[0])

# accessing third element prints "bye"
print(data[2])

('hi', 'hello', 'bye')
hi
bye

- TypeError: 
  - If we do not use integer indexes in the tuple. 
  - For example data[2.0] will raise this error. 
  - The index must always be an integer.
- IndexError: 
  - Index out of range. 
  - This error occurs when we mention the index which is not in the range. 
  - For example, if a tuple has 5 elements and we try to access the 7th element then this error would occurr.
  
#### Negative indexes in tuples
- Similar to list and strings we can use negative indexes to access the tuple elements from the end.
- -1 to access last element, -2 to access second last and so on.

In [20]:
data = (1, 2, "Kevin", 8.9)

# accessing last element
# prints 8.9
print(data[-1])

# prints 2
print(data[-3])

8.9
2

#### Accessing elements from nested tuples
- The first index represents the element of main tuple and the second index represent the element of the nested tuple.
- Below, when we used data[2][1], it accessed the second element of the nested tuple. Because 2 represented the third element of main tuple which is a tuple and the 1 represented the second element of that tuple.

In [22]:
data = (1, "Meeta", (11, 22, 33))

# prints 'v'
print(data[1][3])

# prints 22
print(data[2][1])

t
22

#### Changing the elements of a tuple
- We cannot change the elements of a tuple because elements of tuple are immutable. 
- However we can change the elements of nested items that are mutable. 
- For example, in the following code, we are changing the element of the list which is present inside the tuple. List items are mutable that’s why it is allowed.

In [23]:
data = (1, [9, 8, 7], "World")
print(data)

# changing the element of the list
# this is valid because list is mutable
data[1][2] = 99
print(data)

# changing the element of tuple
# This is not valid since tuple elements are immutable
# TypeError: 'tuple' object does not support item assignment
# data[0] = 101
# print(data)

(1, [9, 8, 7], 'World')
(1, [9, 8, 99], 'World')

#### Delete operation on tuple
- We have seen above that tuple elements are immutable which also means that we cannot delete the elements of a tuple. 
- However deleting entire tuple is possible.

In [24]:
data = (1, 2, 3, 4, 5, 6)
print(data)

# not possible
# error
# del data[2]

# deleting entire tuple is possible
del data

# not possible
# error
# because my_data is deleted
# print(data)

(1, 2, 3, 4, 5, 6)

#### Slicing operation in tuples

In [25]:
data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(data)

# elements from 3rd to 5th
# prints (33, 44, 55)
print(data[2:5])

# elements from start to 4th
# prints (11, 22, 33, 44)
print(data[:4])

# elements from 5th to end
# prints (55, 66, 77, 88, 99)
print(data[4:])

# elements from 5th to second last
# prints (55, 66, 77, 88)
print(data[4:-1])

# displaying entire tuple
print(data[:])

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)

#### Membership Test in Tuples
- in: Checks whether an element exists in the specified tuple.
- not in: Checks whether an element does not exist in the specified tuple.

In [26]:
data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(data)

# true
print(22 in data)

# false
print(2 in data)

# false
print(88 not in data)

# true
print(101 not in data)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
True
False
False
True

#### Iterating a tuple

In [27]:
# tuple of fruits
tuple = ("Apple", "Orange", "Grapes", "Banana")

# iterating over tuple elements
for fruit in tuple:
     print(fruit)

Apple
Orange
Grapes
Banana