## Python Strings

- A string is usually a sequence of characters. 
- In Python we use " "(double quotes) or ' ' (single quotes) to represent a string. 
- Triple double quotes """ and triple single quotes ''' are used for creating multi-line strings in Python

In [1]:
# lets see the ways to create strings in Python
str = 'MyName'
print(str)

str2 = "sarit_maitra"
print(str2)

# multi-line string
str3 = """we are practicing 
   Python fundamentals"""
print(str3)

str4 = '''This is a practical 
   class'''
print(str4)

MyName
sarit_maitra
we are practicing
   Python fundamentals
This is a practical
   class

### How to access strings in Python
- A string is an array of characters so we can use the indexes to access the characters of a it. 
- the indexes start from 0 to the length-1.
- We will get IndexError if we try to access the character which is not in the range. 

For example, if a string is of length 6 and we try to access the 8th char, we will get error.

In [2]:
str = "Bidisha"

# displaying whole string
print(str)

# displaying first character of string
print(str[0])

# displaying third character of string
print(str[2])

# displaying the last character of the string
print(str[-1])

# displaying the second last char of string
print(str[-2])

Bidisha
B
d
a
h

### Substring in Python – Slicing operation

In [8]:
str = "Fundamentals"

# displaying whole string
print("The original string is: ", str)

# slicing 10th to the last character
print("str[9:]: ", str[9:])

# slicing 3rd to 6th character
print("str[2:6]: ", str[2:6])

# slicing from start to the 9th character
print("str[:9]: ", str[:9])

# slicing from 10th to second last character
print("str[9:-1]: ", str[9:-1])

The original string is:  Fundamentals
str[9:]:  als
str[2:6]:  ndam
str[:9]:  Fundament
str[9:-1]:  al

### Concatenation of strings in Python
The + operator is used for string concatenation in Python.

In [9]:
str1 = "One"
str2 = "Two"
str3 = "Three"

# Concatenation of three strings
print(str1 + str2 + str3)

OneTwoThree

- When + operator is used on numbers it adds them but when it used on strings it concatenates them. 
- However if we try to use this between string and number then it will throw TypeError.

In [10]:
s = "one"
n = 2
print(s+n)

TypeError: can only concatenate str (not "int") to str

### Repetition of string – Replication operator

In [11]:
# * operator to repeat a string by specified number of times.

str = "xyz"

# repeating the string str by 3 times
print(str*3)

xyzxyzxyz

### Membership Operators in Strings
- in: This checks whether a string is present in another string or not. 
   - It returns true if the entire string is found else it returns false.
- not in: It works just opposite to what “in” operator does. 
   - It returns true if the string is not found in the specified string else it returns false.

In [13]:
str = "Alliance University python fundamentals"
str2 = "Welcome"
str3 = "Jeniffer"
str4 = "XYZ"

# str2 is in str? True
print(str2 in str)

# str3 is in str? False
print(str3 in str)

# str4 not in str? True
print(str4 not in str)

False
False
True

### Relational Operators on Strings

The relational operators works on strings based on the ASCII values of characters.
- The ASCII value of a is 97, b is 98 and so on.
- The ASCII value of A is 65, B is 66 and so on.

In [14]:
str = "ABC"
str2 = "aBC"
str3 = "XYZ"
str4 = "XYz"

# ASCII value of str2 is > str? True
print(str2 > str)

# ASCII value of str3 is > str4? False
print(str3 > str4)

True
False

## Python Tuple

tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned. On the other hand, we can change the elements of a list.
### Tuple vs List
- The elements of a list are mutable whereas the elements of a tuple are immutable.
- When we do not want to change the data over time, the tuple is a preferred data type whereas when we need to change the data in future, list would be a wise option.
- Iterating over the elements of a tuple is faster compared to iterating over a list.
- Elements of a tuple are enclosed in parenthesis whereas the elements of list are enclosed in square bracket.

### create a tuple in Python
- To create a tuple in Python, place all the elements in a () parenthesis, separated by commas. 
- A tuple can have heterogeneous data items, a tuple can have string and list as data items as well.

In [15]:
# tuple of strings
data = ("hi", "hello", "bye")
print(data)

# tuple of int, float, string
data2 = (1, 2.8, "Hello World")
print(data2)

# tuple of string and list
data3 = ("Book", [1, 2, 3])
print(data3)

# tuples inside another tuple nested tuple
data4 = ((2, 3, 4), (1, 2, "hi"))
print(data4)

('hi', 'hello', 'bye')
(1, 2.8, 'Hello World')
('Book', [1, 2, 3])
((2, 3, 4), (1, 2, 'hi'))

In [16]:
# empty tuple
data = ()

In [18]:
# tuple with single data item

"""If we do not put comma after 99 in the above example then 
python will treat my_data as an int variable rather than a tuple."""

data = (99,)

### Access tuple

In [19]:
# tuple of strings
data = ("hi", "hello", "bye")

# displaying all elements
print(data)

# accessing first element prints "hi"
print(data[0])

# accessing third element prints "bye"
print(data[2])

('hi', 'hello', 'bye')
hi
bye

- TypeError: 
  - If we do not use integer indexes in the tuple. 
  - For example data[2.0] will raise this error. 
  - The index must always be an integer.
- IndexError: 
  - Index out of range. 
  - This error occurs when we mention the index which is not in the range. 
  - For example, if a tuple has 5 elements and we try to access the 7th element then this error would occurr.
  
#### Negative indexes in tuples
- Similar to list and strings we can use negative indexes to access the tuple elements from the end.
- -1 to access last element, -2 to access second last and so on.

In [20]:
data = (1, 2, "Kevin", 8.9)

# accessing last element
# prints 8.9
print(data[-1])

# prints 2
print(data[-3])

8.9
2

#### Accessing elements from nested tuples
- The first index represents the element of main tuple and the second index represent the element of the nested tuple.
- Below, when we used data[2][1], it accessed the second element of the nested tuple. Because 2 represented the third element of main tuple which is a tuple and the 1 represented the second element of that tuple.

In [22]:
data = (1, "Meeta", (11, 22, 33))

# prints 'v'
print(data[1][3])

# prints 22
print(data[2][1])

t
22

#### Changing the elements of a tuple
- We cannot change the elements of a tuple because elements of tuple are immutable. 
- However we can change the elements of nested items that are mutable. 
- For example, in the following code, we are changing the element of the list which is present inside the tuple. List items are mutable that’s why it is allowed.

In [23]:
data = (1, [9, 8, 7], "World")
print(data)

# changing the element of the list
# this is valid because list is mutable
data[1][2] = 99
print(data)

# changing the element of tuple
# This is not valid since tuple elements are immutable
# TypeError: 'tuple' object does not support item assignment
# data[0] = 101
# print(data)

(1, [9, 8, 7], 'World')
(1, [9, 8, 99], 'World')

#### Delete operation on tuple
- We have seen above that tuple elements are immutable which also means that we cannot delete the elements of a tuple. 
- However deleting entire tuple is possible.

In [24]:
data = (1, 2, 3, 4, 5, 6)
print(data)

# not possible
# error
# del data[2]

# deleting entire tuple is possible
del data

# not possible
# error
# because my_data is deleted
# print(data)

(1, 2, 3, 4, 5, 6)

#### Slicing operation in tuples

In [25]:
data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(data)

# elements from 3rd to 5th
# prints (33, 44, 55)
print(data[2:5])

# elements from start to 4th
# prints (11, 22, 33, 44)
print(data[:4])

# elements from 5th to end
# prints (55, 66, 77, 88, 99)
print(data[4:])

# elements from 5th to second last
# prints (55, 66, 77, 88)
print(data[4:-1])

# displaying entire tuple
print(data[:])

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)

#### Membership Test in Tuples
- in: Checks whether an element exists in the specified tuple.
- not in: Checks whether an element does not exist in the specified tuple.

In [26]:
data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(data)

# true
print(22 in data)

# false
print(2 in data)

# false
print(88 not in data)

# true
print(101 not in data)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
True
False
False
True

#### Iterating a tuple

In [27]:
# tuple of fruits
tuple = ("Apple", "Orange", "Grapes", "Banana")

# iterating over tuple elements
for fruit in tuple:
     print(fruit)

Apple
Orange
Grapes
Banana

## Exercises:

#### Create a string made of the first, middle and last character
Write a program to create a new string made of an input string’s first, middle, and last character.

Given:

    str1 = "James"
    
Expected Output: Jms

In [1]:
# Solution
# Use string indexing to get the character present at the given index.
# Use str[0] to get the first character of a string and add it to the result variable
# Next, get the middle character’s index by dividing string length by 2. x = len(str1) /2. Use str1[x] to get the middle character and add it to the result variable
# Use str[len(str)-1] to get the last character of a string and add it to the result variable
# print result variable to display new string

str_1 = 'James'
print("Original String is", str_1)

# Get first character
res = str_1[0]

# Get string size
l = len(str_1)

# Get middle index number
mi = int(l / 2)

# Get middle character and add it to result
res = res + str_1[mi]

# Get last character and add it to result
res = res + str_1[l - 1]

print("New String:", res)

Original String is James
New String: Jms

#### Create a string made of the middle three characters
Write a program to create a new string made of the middle three characters of an input string.

Case 1

    str1 = "JhonDipPeta"
    
Output: Dip

Case 2

    str2 = "JaSonAy"

Output: Son

In [4]:
# solution
# Get the middle character’s index using x = len(str1) /2.
# Use string slicing to get the middle three characters starting from the middle index 
# to the next two character str1[middle_index-1:middle_index+2]

def get_middle_three_chars(str1):
    print("Original String is", str1)

    # first get middle index number
    mi = int(len(str1) / 2)

    # use string slicing to get result characters
    res = str1[mi - 1:mi + 2]
    print("Middle three chars are:", res)

get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original String is JhonDipPeta
Middle three chars are: Dip
Original String is JaSonAy
Middle three chars are: Son

#### Append new string in the middle of a given string
Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

Given:

    s1 = "Ray"
    s2 = "Nimita"

Expected Output: NimitaRay

In [7]:
# solution
# First, get the middle index number of s1 by dividing s1’s length by 2
# Use string slicing to get the character from s1 starting from 0 to the middle index number and store it in x
# concatenate x and s2. x = x + s2
# concatenate x and remeaning character from s1
# print x

def append_middle(s1, s2):
    print("Original Strings are", s1, s2)

    # middle index number of s1
    m = int(len(s1) / 2)

    # get character from 0 to the middle index number from s1
    x = s1[:m:]
    
    # concatenate s2 to it
    x = x + s2
    
    # append remaining character from s1
    x = x + s1[m:]
    
    print("After appending new string in middle:", x)

append_middle("Ray", "Nimita")

Original Strings are Ray Nimita
After appending new string in middle: RNimitaay

#### Create a new string made of the first, middle, and last characters of each input string
Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

Given:
    
    s1 = "America"
    s2 = "Japan"

Expected Output: AJrpan

In [8]:
# solution
# Get the first character from both strings, concatenate them, and store them in variable x
# Get the middle character from both strings, concatenate them, and store them in variable y
# Get the last character from both strings, concatenate them, and store them in variable x
# In the end, join x, y, and z and save it in the result variable
# print the result

def mix_string(s1, s2):
    # get first character from both string
    first_char = s1[0] + s2[0]

    # get middle character from both string
    middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]

    # get last character from both string
    last_char = s1[len(s1) - 1] + s2[len(s2) - 1]

    # add all
    res = first_char + middle_char + last_char
    print("Mix String is ", res)

s1 = "America"
s2 = "Japan"
mix_string(s1, s2)

Mix String is  AJrpan

#### Arrange string characters such that lowercase letters should come first
Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

    str1 = PyThoNFUna

Expected Output: yhonaPTNFU

In [9]:
# solution
# Create two lists lower and upper
# Iterate a string using a for loop
# In each loop iteration, check if the current character is the lower or upper case using the islower() string function.
# If a character is the lower case, add it to the lower list, else add it to the upper list
# to join the lower and upper list using a join() function.
# convert list to string
# print the final string

str1 = "PyThoNFUna"
print('Original String:', str1)

lower = []
upper = []

for char in str1:
    if char.islower():
        
        # add lowercase characters to lower list
        lower.append(char)
    else:
        
        # add uppercase characters to lower list
        upper.append(char)

# Join both list
sorted_str = ''.join(lower + upper)
print('Result:', sorted_str)

Original String: PyThoNFUna
Result: yhonaPTNFU

#### Count all letters, digits, and special symbols from a given string
Given:

    str1 = "P@#yn26at^&i5ve"
    
Expected Outcome:

Total counts of chars, digits, and symbols 

Chars = 8, Digits = 3, Symbol = 4

In [10]:
# solution
# Iterate each character from a string using a for loop
# In each loop iteration, check if the current character is the alphabet using an isalpha() function. 
# If yes, increase the character counter. Check if it is a digit using the isdigit() function and increase the digit counter; otherwise, increase the symbol counter.
# Print the value of each counter

def find_digits_chars_symbols(sample_str):
    char_count = 0
    digit_count = 0
    symbol_count = 0
    for char in sample_str:
        if char.isalpha():
            char_count += 1
        elif char.isdigit():
            digit_count += 1
        # if it is not letter or digit then it is special symbol
        else:
            symbol_count += 1

    print("Chars =", char_count, "Digits =", digit_count, "Symbol =", symbol_count)

sample_str = "P@yn2at&#i5ve"
print("total counts of chars, Digits, and symbols \n")
find_digits_chars_symbols(sample_str)

total counts of chars, Digits, and symbols

Chars = 8 Digits = 2 Symbol = 3

#### Create a mixed String using the following rules
Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

Given:

    s1 = "Abc"
    s2 = "Xyz"
    
Expected Output: AzbycX

In [12]:
# solution
s1 = "Abc"
s2 = "Xyz"

# get string length
s1_length = len(s1)
s2_length = len(s2)

# get length of a bigger string
length = s1_length if s1_length > s2_length else s2_length
result = ""

# reverse s2
s2 = s2[::-1]

# iterate string 
# s1 ascending and s2 descending
for i in range(length):
    if i < s1_length:
        result = result + s1[i]
    if i < s2_length:
        result = result + s2[i]

print(result)

AzbycX

#### Calculate the sum and average of the digits present in a string
Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

Given
    
    str1 = "PYthon29@#8496"

In [13]:
# Solution 1

# Iterate each character from a string s1 using a loop
# In the body of a loop, check if the current character is digit using the isdigit() function
# If it is a digit, then add it to the sum variable
# In the end, calculate the average by dividing the total by the count of digits

input_str = "PYthon29@#8496"
total = 0
cnt = 0
for char in input_str:
    if char.isdigit():
        total += int(char)
        cnt += 1

# average = sum / count of digits
avg = total / cnt
print("Sum is:", total, "Average is ", avg)

Sum is: 38 Average is  6.333333333333333

In [14]:
# Solution 2

import re

input_str = "PYthon29@#8496"
digit_list = [int(num) for num in re.findall(r'\d', input_str)]
print('Digits:', digit_list)

# use the built-in function sum
total = sum(digit_list)

# average = sum / count of digits
avg = total / len(digit_list)
print("Sum is:", total, "Average is ", avg)

Digits: [2, 9, 8, 4, 9, 6]
Sum is: 38 Average is  6.333333333333333

#### Replace each special symbol with # in the following string

Given:

    str1 = '/*Jon is @developer & musician!!'

Expected Output: ##Jon is #developer # musician##

In [15]:
# solution
# Use the string.punctuation constant to get the list of all punctuations
# Iterate each symbol from a punctuations
# Use string function replace() to replace the current special symbol in a string with #

import string

str_1 = '/*Jon is @developer & musician!!'
print("The original string is : ", str_1)

# Replace punctuations with #
replace_char = '#'

# string.punctuation to get the list of all special symbols
for char in string.punctuation:
    str_1 = str_1.replace(char, replace_char)

print("The strings after replacement : ", str_1)

The original string is :  /*Jon is @developer & musician!!
The strings after replacement :  ##Jon is #developer # musician##

#### Find words with both alphabets and numbers
Write a program to find words with both alphabets and numbers from an input string.

Given:

    str_1 = "Peter25 is Data scientist50 and AI Expert"

Expected Output:

    Peter25
    scientist50

In [16]:
str_1 = "Peter25 is Data scientist50 and AI Expert"
print("The original string is : " + str_1)

res = []
# split string on whitespace
temp = str_1.split()

# Words with both alphabets and numbers
# isdigit() for numbers + isalpha() for alphabets
# use any() to check each character

for item in temp:
    if any(char.isalpha() for char in item) and any(char.isdigit() for char in item):
        res.append(item)

print("Displaying words with alphabets and numbers")
for i in res:
    print(i)

The original string is : Peter25 is Data scientist50 and AI Expert
Displaying words with alphabets and numbers
Peter25
scientist50

#### Removal all characters from a string except integers
Given:

    str_1 = 'I am 18 years and 10 months old'

Expected Output: 1810

In [17]:
str_1 = 'I am 18 years and 10 months old'
print("Original string is", str_1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

Original string is I am 18 years and 10 months old

#### Remove special symbols / punctuation from a string
Given:

    str_1 = "/*Vinita is @developer & musician"

Expected Output: "Jon is developer musician"

In [18]:
# Solution 1: 
# Use string functions translate() and maketrans().
# The string.punctuation constant contain all special symbols.

import string

str_1 = "/*Vinita is @developer & musician"
print("Original string is ", str1)

new_str = str_1.translate(str.maketrans('', '', string.punctuation))

print("New string is ", new_str)

Original string is  PyThoNFUna
New string is  Vinita is developer  musician

In [19]:
# Solution 2: 
# Using regex replace pattern in a string

import re

str_1 = "/*Vinita is @developer & musician"
print("Original string is ", str_1)

# replace special symbols with ''
res = re.sub(r'[^\w\s]', '', str_1)
print("New string is ", res)

Original string is  /*Vinita is @developer & musician
New string is  Vinita is developer  musician

#### Remove empty strings from a list of strings
Given:

    str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

Expected Output:

    ['Emma', 'Jon', 'Kelly', 'Eric']

In [20]:
# Solution 1 
#Using the loop and if condition

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
res_list = []
for s in str_list:
    # check for non empty string
    if s:
        res_list.append(s)
print(res_list)

['Emma', 'Jon', 'Kelly', 'Eric']

In [21]:
# Solution 2 
# Using the built-in function filter()

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

# use built-in function filter to filter empty value
new_str_list = list(filter(None, str_list))

print("After removing empty strings")
print(new_str_list)

After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

#### Split a string on hyphens
Write a program to split a given string on hyphens and display each substring.

Given:

    str1 = Rama-is-a-data-scientist

Expected Output:

Displaying each substring

    Rama
    is
    a
    data
    scientist

In [23]:
str_1 = "Rama-is-a-data-scientist"
print("Original String is:", str1)

# split string
sub_strings = str_1.split("-")

print("Displaying each substring:")
for sub in sub_strings:
    print(sub)

Original String is: PyThoNFUna
Displaying each substring:
Rama
is
a
data
scientist

#### Find the last position of a given substring
Write a program to find the last position of a substring “Emma” in a given string.

Given:

    str_1 = "Rama is a data scientist who knows Python. Rama works at google."

Expected Output: Last occurrence of Rama starts at index 43

In [26]:
str_1 = "Rama is a data scientist who knows Python. Rama works at google."
print("Original String is:", str1)

index = str_1.rfind("Rama")
print("Last occurrence of Rama starts at index:", index)

Original String is: PyThoNFUna
Last occurrence of Rama starts at index: 43